body {
  font-family: "Satoshi", sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

  color: white;
  background-color: #202528;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}